@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  background: #fff;
  color: #191919;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  background: #ff4b33;
  color: #000;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 0;
  width: fit-content;
}

h1 + p {
  background: #fff;
  color: #000;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 0;
  width: fit-content;
}

.welcome-section h1,
.welcome-section p {
  margin-left: auto;
  width: fit-content;
  padding-right: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.about-section {
  padding: 40px 0;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.about-images {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.about-photo {
  width: 375px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  border: 4px solid #191919;
}

.divider {
  position: relative;
  transform: translateX(calc(-50% + 110px));
  width: 2px;
  height: 500px;
  background-color: #191919;
  top: 0;
}

.about-text {
  width: 66.67%;
  padding-left: 200px;
  padding-right: 40px;
  line-height: 1.6;
}

.about-text p {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Procereus&display=swap');

.projects-section {
  padding: 60px 20px;
  margin-top: 25vh;
}

.project-header {
  font-family: 'Procereus', serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  transform: scaleY(2);
  transform-origin: top;
  margin: 0 0 40px 0;
  line-height: 1;
}

.cs-projects {
  color: #191919;
}

.ee-projects {
  color: #191919;
}

.projects-content {
  color: #191919;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a { color: #fff; }

.intro-section {
  padding: 60px 20px;
}

.intro-header {
  font-family: 'Procereus', serif;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  transform: scaleY(2);
  transform-origin: top;
  margin: 0 0 40px 0;
  line-height: 1;
  color: #191919;
}

.intro-content {
  color: #191919;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  max-width: 800px;
}