@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html, body {
  background: #333333;
  color: #c2c2c2;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  background: #ff4b33;
  color: #000;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 0;
  width: fit-content;
}

h1 + p {
  background: #fff;
  color: #000;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin: 0;
  width: fit-content;
}

.welcome-section h1,
.welcome-section p {
  margin-left: auto;
  width: fit-content;
  padding-right: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.about-section {
  padding: 40px 0;
}

.about-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.about-images {
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}

.about-photo {
  width: 375px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  border: 4px solid #c2c2c2;
}

.divider {
  position: relative;
  transform: translateX(calc(-50% + 110px));
  width: 2px;
  height: 500px;
  background-color: #c2c2c2;
  top: 0;
}

.about-text {
  width: 66.67%;
  padding-left: 200px;
  padding-right: 40px;
  line-height: 1.6;
}

.about-text p {
  margin: 0;
}

a { color: #fff; }